body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.book {
  position: relative;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border: 2px solid black;
  padding: 15px;
}

.title,
.author,
.pages,
.read {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  font-size: large;
  width: 100%;
}

.book-info-row :last-child {
  min-width: 200px;
}

.book-info-row :first-child {
  font-weight: bold;
}

dialog {
  height: 50vh;
  width: 50vh;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
}

.remove-book-btn {
  position: absolute;
  top: -10px;
  right: 20px;
  background-color: white;
}

button {
  cursor: pointer;
}

input:invalid {
  border: 2px solid red;
}
